<div class="row hover-area" ng-repeat="note in npCtrl.notes | reverse">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="panel panel-default">
            <!-- <div style="display:none;" ng-bind="note._id"></div> -->
            <span class="badge pull-right" ng-bind="note.date | date: 'dd.MM.yyyy @ HH:mm'"></span>
            <div class="panel-heading" ng-bind="note.name">
            </div>
            <div class="panel-body" contenteditable ng-model="note.text" ng-blur="npCtrl.update(npCtrl.notes.length - $index - 1)"></div>
        </div>
    </div>
    <div class="col-xs-1">
        <div class="row">
            <div class="col-xs-12">
                <!-- <i class="fa fa-times" ng-click="npCtrl.delNote(npCtrl.notes.length - $index - 1)"></i> -->
                <i class="fa fa-times" ng-click="npCtrl.delNote(npCtrl.notes.length - $index - 1)"></i>
            </div>
        </div>
    </div>
</div>
